@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  height: calc(100vh - 2rem);

  @include media-breakpoint-up(lg) {
    margin: 3rem auto;
    height: calc(100vh - 6rem);
    justify-content: space-around;
  }
}

.timepicker {  
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    align-items: flex-end;
  }
}

.custom-button {
  display: flex;
  justify-content: space-around;
}